@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: theme("colors.violet.950");
  --foreground: theme("colors.violet.50");
}

@media (prefers-color-scheme: light) {
  :root {
    --background: theme("colors.violet.50");
    --foreground: theme("colors.violet.950");
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
